$color-white: #ffffff;
$color-grey: #858585;
$color-primary: #26409e;
$color-lite-blue: #8f98a8;
$color-black: black;
$color-yellow: #ffc400;
$color-orange: #ff8800;
$color-purple: #6639ff;

$border-color: #8500d1;

$color-background-blue: #040021;

$footer-top-padding: 100px;
$footer-bottom-padding: 60px;

$label-size-smaller: 15px;
$label-size-small: 16px;
$label-size-normal: 18px;
$label-size-above-normal: 20px;
$label-size-medium: 24px;
$label-size-below-heigh: 48px;
$label-size-high: 90px;

$font-weight-small: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-dark: 800;
