@import "./variables";

.swiperContainer {
  position: relative;
  min-height: 100vh;

  .carousel-item {
    width: 100%;
    opacity: 1;
    position: relative;
    overflow: hidden;

    .banner {
      animation: scale 30s ease-out infinite;
    }

    .content {
      position: absolute;
      top: 15%;
      width: 100%;
      text-align: center;
      opacity: 0;
      animation: fade 1s 0.2s ease-out forwards;
      z-index: 1;

      .animationText {
        animation-delay: 0.3s;
        font-size: $label-size-medium;
        color: $color-yellow;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        margin-bottom: 25px;
        animation-name: example;
        animation-delay: 2s;
        animation-fill-mode: backwards;
        animation: 2s linear fadeInUp infinite;
      }

      .animationTextBig {
        animation-delay: 0.5s;
        font-size: $label-size-high;
        font-weight: $font-weight-bold;
        color: $color-white;
        text-transform: uppercase;
        margin-bottom: 45px;
      }
    }

    .manpower {
      top: 20%;
    }

    .hrPartner {
      top: 20%;
    }
  }

  .bannerOuter {
    position: absolute;
    bottom: -1%;
    z-index: 0;

    .bannerOuterCover {
      width: 100%;
      height: 100%;
    }
  }
}

.pageWrapper {

  .servicePageWrapper {
    padding-top: 120px;
  }
  
  .oilAndGasContent {
    padding: 40px;

    .content {
      border-left: 5px solid $color-yellow;

      .contentHeader {
        font-size: $label-size-smaller;
        font-weight: $font-weight-bold;
        color: $color-yellow;
        text-transform: uppercase;
        padding-left: 12px;
        margin: 0;
      }
    }

    .contentHeading {
      font-size: $label-size-below-heigh;
      line-height: 58px;
      color: $color-background-blue;
      text-transform: uppercase;
      margin-bottom: 30px;
      font-weight: $font-weight-bold;
    }

    .contentInnner {
      font-size: $label-size-small;
      font-weight: $font-weight-small;
      line-height: 24px;
      color: $color-lite-blue;
      margin-bottom: 0;
    }
  }
}

.arrowMain {
  position: fixed;
  bottom: 40px;
  right: 50px;
  background: $color-yellow;
  padding: 12px;

  .arrowUp {
    width: 24px;
    height: 24px;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
    transform-origin: top center;
  }
  100% {
    transform: scale(1.4);
  }
}

@keyframes fade {
  from {
    transform: translateY(40px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media (max-width: 575.98px) {

  .headerTop {
    padding: 4px 0!important;
  }

   .timingMailId {
    // display: block !important;
    padding: 0 8px;

    .mailUs {
      padding-right: 8px!important;
      width: 65%!important;

      .headContent {
        word-break: break-word;
      }
    }
    
    .officeHours {
      padding-left: 8px!important;
      padding-top: 8px;
      width: 35%!important;
    }
  }

  .content {
    display: block!important;
    padding: 8px 0;

    .mainMenu {
      padding: 16px 0 ;
    }

    .estimateCall {
      display: none!important;
    }
  }

  .aboutHospitality {
    display: none;
  }

  .swiperContainer {
    min-height: unset;
  }

  .animationText {
    margin-bottom: 4px!important;
  }

  .swiperContainer .carousel-item .content {
    top: 8%!important;
  }

  .animationTextBig,
  .manPowerHead {
    font-size: 32px!important;
    line-height: 38px!important;
    margin-bottom: 24px!important;
  }

  .servicePageWrapper,
  .manPowerSupplyContent {
    padding-top: 20px!important;
  }

  .location {
    display: none;
  }

  .contentAboutServices {
    padding: 12px 0!important;
    display: block !important;
  }

  .oilAndGasContent,
  .leadingManpowerSection,
  .contactUsWrapper {
    padding: 12px!important;
  }

  .subheaderManpower {
    font-size: 24px!important;
    line-height: 28px!important;
  }

  .aboutServices .aboutBanner .banner,
  .manPowerLogo {
   display: none;
  }

  .contactUsWrapper {

    .header {
      font-size: 24px!important;
      line-height: 28px!important;
      margin-bottom: 12px!important;
    }
  }

  .logoContent {
    word-break: break-word;
  }
  
}
