@import "../../styles/variables";

.footerSection {
  background: $color-background-blue;
  padding-top: $footer-top-padding;
  padding-bottom: $footer-bottom-padding;

  .footerItems {
    display: flex;

    .aboutCompany {
      .logo {
        margin-bottom: 30px;
        .logoImg {
        }
      }

      .aboutTag {
        color: $color-grey;
        line-height: 26px;
        font-size: $label-size-small;
      }

      .socialLogo {
        .social {
          width: 28px;
          height: 28px;
          fill: $color-yellow;
        }
      }
    }

    .headSupply {
      color: $color-white;
      font-size: $label-size-normal;
      font-weight: $font-weight-medium;
      text-transform: uppercase;
      margin-bottom: 40px;
    }
    .supplyContent {
      .contentSupply {
        font-size: $label-size-small;
        margin-bottom: 15px;
        color: $color-grey;
        font-weight: $font-weight-small;
      }
    }
  }
}
