.OilAndGasPage {
  .oilAndGasContent {
    padding-top: 160px;
    padding-bottom: 55px;
    padding-left: 50px;

    .content {
      border-left: 5px solid #8500d1;
      margin-bottom: 17px;

      .contentHeader {
        font-size: 18px;
        font-weight: 700;
        color: #8500d1;
        text-transform: uppercase;
        padding-left: 12px;
        margin: 0;
      }
    }

    .contentHeading {
      font-size: 48px;
      line-height: 58px;
      color: #040021;
      text-transform: uppercase;
      margin-bottom: 30px;
      font-weight: 700;
    }

    .contentInnner {
      font-size: 15px;
      font-weight: 400;
      line-height: 25px;
      color: #8f98a8;
      margin-bottom: 0;
    }
  }
}
